<div class="col-sm-12 col-lg-4 mb-3">
  <div id="schedule-id-<%= schedule.id %>">
    <div class="card">
      <div class="d-flex justify-content-center mb-4">
        <% if schedule.tasks.empty? || schedule.tasks.any? { |task| task.start_time.nil? || task.end_time.nil? } %>
          <div class="bg-light rounded-circle shadow-sm d-flex align-items-center justify-content-center" style="width: 200px; height: 200px;">
            <span class="text-muted">円グラフ（サンプル）</span>
          </div>
        <% else %>
          <div class="schedule-chart">
            <%= render_schedule_chart(schedule.tasks) %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to schedule.title, schedule_path(schedule) %>
          </h4>
          <% if current_user.own?(schedule) %>
            <div class='ms-auto'>
              <%= link_to edit_schedule_path(schedule), id: "button-edit-#{schedule.id}" do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= form_with model: schedule, method: :delete, local: true do |form| %>
                <%= form.submit "削除", class: "bi bi-trash-fill btn btn-link text-danger p-0", data: { confirm: t('defaults.delete_confirm') } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <ul class="list-inline">
          <li><i class="bi bi-person"></i><%= schedule.user.name %></li>
          <li><i class="bi bi-calendar"></i><%= l schedule.created_at, format: :short %></li>
        </ul>
        <p class="card-text"><%= schedule.title %></p>
      </div>
    </div>
  </div>
</div>
