<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag "sample.jpg", width: "300", height: "200", class: "card-img-top img-fluid" %>
            </div>
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @schedule.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= "by #{@schedule.user.name}" %></li>
                <li class="list-inline-item"><%= l @schedule.created_at, format: :long %></li>
              </ul>
              <div class='d-flex justify-content-end'>
                <%= link_to "#", id: "button-edit-#{@schedule.id}" do %>
                  <i class='bi bi-pencil-fill'></i>
                <% end %>
                <%= link_to "#", id: "button-delete-#{@schedule.id}", class: "ms-2" do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
              </div>
            </div>
            <p><%= simple_format(@schedule.body) %></p>
          </div>
        </article>
      </div>
    </div>
    <%= render 'tasks/form', task: @task, schedule: @schedule %>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <table class="table">
          <tbody id="table-task">
            <%= render @tasks %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>