<!DOCTYPE html>
<html>
  <head>
    <title>PizzaSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= tag.meta(property: "og:title", content: "PizzaSchedule") %>
    <%= tag.meta(property: "og:description", content: "円グラフ型の1日のスケジュール管理アプリです。ピザを切り分けるように1日の時間を区切り、タスクを完了するごとに食べ進める感覚でタスク管理ができます。") %>
    <%= tag.meta(property: "og:image", content: "https://pizza-schedule.koyeb.app/ogp.png") %>
    <%= tag.meta(property: "og:url", content: "https://pizza-schedule.koyeb.app/") %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
